@model ProductDetailsModel
@{
    Html.AddScriptParts(ResourceLocation.Footer, "~/lib_npm/magnific-popup/jquery.magnific-popup.min.js");
    Html.AddCssFileParts("~/lib_npm/magnific-popup/magnific-popup.css");
}

<div class="gallery">
    <div id="headerSlider" lg-uid="lg0" style="">
        @foreach (var picture in Model.PictureModels)
        {
            <div>
                <div data-src="@picture.ImageUrl" gallery-img="@picture.ImageUrl" class="room-slide is-flex" style="width: 100%; display: inline-block;">
                    <img elementtiming="detail-gallery" data-src="@picture.ImageUrl" src="@picture.ImageUrl" lazy="loaded">
                </div>
            </div>
        }
    </div>
    <div class="gallery__item-bot d-none d-sm-block is-absolute gallery__item-child"><button class="btn btn--xs btn--up btn--white semi-bold"><i class="icon-dots"></i> <span>Khám phá chỗ ở</span></button></div>
    <div class="room-id">
        <div class="room-id__wrapper d-inline-block">
            <p class="mb--0 p--small-2 bold text-center">
                Mã chỗ ở <br>
                12972
            </p>
        </div>
    </div>
</div>

<script asp-location="Footer">
    $(document).ready(function () {
        $("#headerSlider").slick({
            arrows: false,
            infinite: false,
            slidesToShow: 3,
            slidesToScroll: 1,
        });
    });
</script>

@*<div class="gallery">
        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.ProductDetailsBeforePictures, additionalData = Model })
        <div class="picture">
            @if (Model.DefaultPictureZoomEnabled && Model.PictureModels.Count == 1)
            {
                <a href="@Model.DefaultPictureModel.FullSizeImageUrl" title="@Model.DefaultPictureModel.Title" id="main-product-img-lightbox-anchor-@Model.Id">
                    <img alt="@Model.DefaultPictureModel.AlternateText" src="@Model.DefaultPictureModel.ImageUrl" title="@Model.DefaultPictureModel.Title" id="main-product-img-@Model.Id" />
                </a>
                <script asp-location="Footer">
                    $(document).ready(function () {
                        $('#main-product-img-lightbox-anchor-@Model.Id').magnificPopup({ type: 'image' });
                    });
                </script>
            }
            else
            {
                <img alt="@Model.DefaultPictureModel.AlternateText" src="@Model.DefaultPictureModel.ImageUrl" title="@Model.DefaultPictureModel.Title" id="main-product-img-@Model.Id" />
            }
        </div>
        @if (Model.PictureModels.Count > 1 && Model.DefaultPictureZoomEnabled)
        {
            <div class="picture-thumbs">
                @foreach (var picture in Model.PictureModels)
                {
                    <a class="thumb-item thumb-popup-link" href="@picture.FullSizeImageUrl" alt="@picture.AlternateText" title="@picture.Title">
                        <img src="@picture.ThumbImageUrl" alt="@picture.AlternateText" title="@picture.Title" data-defaultsize="@picture.ImageUrl" data-fullsize="@picture.FullSizeImageUrl" />
                    </a>
                }
            </div>
            <script asp-location="Footer">
                $(document).ready(function() {
                    $('.picture-thumbs').magnificPopup(
                        {
                            type: 'image',
                            delegate: 'a',
                            removalDelay: 300,
                            navigateByImgClick: true,
                            preload: [0, 1],
                            gallery: {
                            enabled: true,
                            tPrev: '@T("Media.MagnificPopup.Previous")',
                            tNext: '@T("Media.MagnificPopup.Next")',
                            tCounter: '@T("Media.MagnificPopup.Counter")'
                            },
                            tClose: '@T("Media.MagnificPopup.Close")',
                            tLoading: '@T("Media.MagnificPopup.Loading")'
                        });
                    });
            </script>
            <script asp-location="Footer">
                $(document).ready(function() {
                    $('.thumb-item > img').on('click',
                        function() {
                            $('#main-product-img-@Model.Id').attr('src', $(this).attr('data-defaultsize'));
                            $('#main-product-img-@Model.Id').attr('title', $(this).attr('title'));
                            $('#main-product-img-@Model.Id').attr('alt', $(this).attr('alt'));
                            $('#main-product-img-lightbox-anchor-@Model.Id').attr('href', $(this).attr('data-fullsize'));
                            $('#main-product-img-lightbox-anchor-@Model.Id').attr('title', $(this).attr('title'));
                        });
                });
            </script>
        }
        else
        {
            if (Model.PictureModels.Count > 1)
            {
                if (Model.PictureModels.Count <= 3)
                {
                    <div class="picture-thumbs">
                        @foreach (var picture in Model.PictureModels)
                        {
                            <a class="thumb-item thumb-popup-link">
                                <img src="@picture.ThumbImageUrl" alt="@picture.AlternateText" title="@picture.Title" data-defaultsize="@picture.ImageUrl" data-fullsize="@picture.FullSizeImageUrl" />
                            </a>
                        }
                    </div>
                }
                else
                {
                    <div class="picture-thumbs product-slider owl-carousel owl-theme" id="product-slider">
                        @foreach (var picture in Model.PictureModels)
                        {
                            <a class="thumb-item thumb-popup-link">
                                <img class="owl-lazy" data-src="@picture.ThumbImageUrl" src="@picture.ThumbImageUrl" alt="@picture.AlternateText" title="@picture.Title" data-defaultsize="@picture.ImageUrl" data-fullsize="@picture.FullSizeImageUrl" />
                            </a>
                        }
                    </div>
                }
                <script asp-location="Footer">
                $(document).ready(function () {
                    $('.thumb-item img').on('click', function () {
                        $('#main-product-img-@Model.Id').attr('src', $(this).attr('data-defaultsize'));
                        $('#main-product-img-@Model.Id').attr('title', $(this).attr('title'));
                        $('#main-product-img-@Model.Id').attr('alt', $(this).attr('alt'));
                        $('#main-product-img-lightbox-anchor-@Model.Id').attr('href', $(this).attr('data-fullsize'));
                        $('#main-product-img-lightbox-anchor-@Model.Id').attr('title', $(this).attr('title'));
                    });
                });
                </script>
            }
        }
        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.ProductDetailsAfterPictures, additionalData = Model })
    </div>*@
