@model ProductOverviewModel
@using Nop.Core
@using Nop.Core.Domain.Catalog
@using Nop.Core.Domain.Orders
@using Nop.Core.Domain.Tax
@inject CatalogSettings catalogSettings
@inject IWorkContext workContext
@*@{
    //prepare "Add to cart" AJAX link
    var addtocartlink = "";
    var shoppingCartTypeId = (int)ShoppingCartType.ShoppingCart;
    var quantity = 1;
    if (Model.ProductPrice.ForceRedirectionAfterAddingToCart)
    {
        addtocartlink = Url.RouteUrl("AddProductToCart-Catalog", new { productId = Model.Id, shoppingCartTypeId = shoppingCartTypeId, quantity = quantity, forceredirection = Model.ProductPrice.ForceRedirectionAfterAddingToCart });
    }
    else
    {
        addtocartlink = Url.RouteUrl("AddProductToCart-Catalog", new { productId = Model.Id, shoppingCartTypeId = shoppingCartTypeId, quantity = quantity });
    }

    var addtowishlistlink = Url.RouteUrl("AddProductToCart-Catalog", new { productId = Model.Id, shoppingCartTypeId = (int)ShoppingCartType.Wishlist, quantity = quantity });
    var addtocomparelink = Url.RouteUrl("AddProductToCompare", new { productId = Model.Id });
}
<div class="product-item clearfix" data-productid="@Model.Id">
    @*<div class="picture">
        <a href="@Url.RouteUrl("Product", new { SeName = Model.SeName })" title="@Model.DefaultPictureModel.Title">
            <img alt="@Model.DefaultPictureModel.AlternateText" src="@Model.DefaultPictureModel.ImageUrl" title="@Model.DefaultPictureModel.Title" />
        </a>
        <div class="wishlist-compare-wrapper">
            @if (!Model.ProductPrice.DisableWishlistButton)
            {
                <button type="button" class="button-2 add-to-wishlist-button" title="@T("ShoppingCart.AddToWishlist")" onclick="AjaxCart.addproducttocart_catalog('@addtowishlistlink');return false;">@T("ShoppingCart.AddToWishlist")</button>
            }
            @if (!Model.ProductPrice.DisableAddToCompareListButton)
            {
                <button type="button" class="button-2 add-to-compare-list-button" title="@T("ShoppingCart.AddToCompareList")" onclick="AjaxCart.addproducttocomparelist('@addtocomparelink');return false;">@T("ShoppingCart.AddToCompareList")</button>
            }
        </div>
    </div>*@
    <div class="promo__image">
        <div class="promo__image-wrap">
            <a href="@Url.RouteUrl("Product", new { SeName = Model.SeName })" title="@Model.DefaultPictureModel.Title">
                <img alt="@Model.DefaultPictureModel.AlternateText" src="@Model.DefaultPictureModel.ImageUrl" title="@Model.DefaultPictureModel.Title" />
            </a>
        </div>
    </div>
    <div class="promo__content">
        <div class="p--small-2" style="-webkit-box-orient: vertical; display: flex; justify-content: space-between;">
            <div class="w--75 text-ellipsis color" style="color: rgb(118, 118, 118); font-size: 14px;">
                Chung cư - 1 phòng ngủ
            </div>
            <div class="w--25 text-nowrap text--right">
                <svg version="1.1" viewBox="0 0 14 14" class="mr--3 svg-icon svg-fill" style="width: 14px; height: 14px;">
                    <path fill="#ffb025" stroke="none" pid="0" d="M14 5.425c0 .13-.073.27-.219.424l-3.054 3.123.724 4.41c.005.042.008.1.008.177 0 .123-.03.228-.088.313a.292.292 0 01-.257.128.658.658 0 01-.336-.106L7 11.812l-3.778 2.082a.69.69 0 01-.336.106c-.118 0-.206-.043-.265-.128a.538.538 0 01-.089-.313 1.5 1.5 0 01.017-.177l.724-4.41L.21 5.849C.07 5.69 0 5.549 0 5.425c0-.217.157-.353.471-.405l4.224-.644L6.588.362C6.694.12 6.832 0 7 0c.168 0 .306.12.412.362l1.893 4.014 4.224.644c.314.052.471.188.471.405z" fill-rule="evenodd">
                    </path>
                </svg>
                4.5
                <span style="color: rgb(118, 118, 118);">(2)</span>
            </div>
        </div>
        <div class="is-relative">
            <a href="@Url.RouteUrl("Product", new {SeName = Model.SeName})">
                <div class="promo__title" style="-webkit-box-orient: vertical; color: rgb(72, 72, 72);">
                    <svg data-v-ebd93bc0="" version="1.1" viewBox="0 0 20 20" class="is-instant-book mr--6 svg-icon svg-fill" style="width: 20px; height: 20px;">
                        <title>Đặt phòng ngay, không cần đợi chủ nhà phê duyệt</title>
                        <defs><linearGradient x1="100%" y1="50%" x2="0%" y2="50%" id="svgicon_instant_book_a"><stop stop-color="#F68A39" offset="0%"></stop><stop stop-color="#F65E39" offset="100%"></stop></linearGradient></defs>
                        <g fill="none" fill-rule="evenodd"><circle pid="0" fill="url(#svgicon_instant_book_a)" cx="10" cy="10" r="10"></circle><path pid="1" d="M10.42 15.158l3.037-6.073A.75.75 0 0012.787 8H10V5.177a.75.75 0 00-1.42-.335l-3.037 6.073A.75.75 0 006.213 12H9v2.823a.75.75 0 001.42.335z" fill="#FFF"></path></g>
                    </svg>
                    @(@Model.Name.Length>25 ? (@Model.Name.Substring(0, Math.Min(@Model.Name.Length, 25)))+"..." : @Model.Name)
                </div>
            </a>
            <div class="promo__price mb--6">
                <span class="bold">
                    <span>@Model.ProductPrice.Price</span>
                    <span class="font-weight: bold">/đêm</span>
                </span>
            </div>
        </div>
    </div>
</div>*@

