@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model IList<DestinationModel>
<div class="section fadeIn">
    <div class="container container--sm">
        <div>
            <div id="93" readmore="93">
                <div class="title mb--18">
                    <h2 class="extra-bold p--giant">Gợi ý từ Luxstay</h2>
                    <p>Những địa điểm thường đến mà Luxstay gợi ý dành cho bạn</p>
                </div>
                <div>
                    <div class="destination-wrap">
                        <div>
                            @foreach (var destination in Model) {
                            <div>
                                <a href="@destination.PictureUrl" class="article is-relative" tabindex="-1" style="width: 100%; display: inline-block;">
                                    <span class="is-block bg-img bg-img--85 radius-xs" data-src="@destination.PictureUrl" lazy="loaded" style="background-image: url(@destination.PictureUrl)"></span>
                                    <div class="article__content">
                                        <div class="article__title bold">@destination.StateProvince</div>
                                        <span class="article__excerpt">
                                            <p>@destination.Excerpt</p>
                                        </span>
                                    </div>
                                </a>
                            </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
