@model Nop.Plugin.Widgets.Location.Models.ConfigurationModel

@{
    Layout = "_ConfigurePlugin";
}

@await Component.InvokeAsync("StoreScopeConfiguration")
<form asp-controller="WidgetsLocation" asp-action="Configure" method="post">
    <section class="content">
        <div class="container-fluid">
            <div class="cards-group">
                <div class="card card-default">
                    <div class="card-header">
                        @T("Plugins.Widgets.Location.Picture1")
                    </div>
                    <div class="card-body">
                        <div class="form-group row">
                            <div class="col-md-3">
                                <nop-override-store-checkbox asp-for="Picture1Id_OverrideForStore" asp-input="Picture1Id" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                <nop-label asp-for="Picture1Id" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="Picture1Id" />
                                <span asp-validation-for="Picture1Id"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <nop-override-store-checkbox asp-for="Text1_OverrideForStore" asp-input="Text1" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                <nop-label asp-for="Text1" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="Text1" />
                                <span asp-validation-for="Text1"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <nop-override-store-checkbox asp-for="AltText1_OverrideForStore" asp-input="AltText1" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                <nop-label asp-for="AltText1" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="AltText1" />
                                <span asp-validation-for="AltText1"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <nop-override-store-checkbox asp-for="Link1_OverrideForStore" asp-input="Link1" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                <nop-label asp-for="Link1" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="Link1" />
                                <span asp-validation-for="Link1"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <nop-override-store-checkbox asp-for="StateProvinceId1_OverrideForStore" asp-input="StateProvinceId1" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                <nop-label asp-for="StateProvinceId1" />
                            </div>
                            <div class="col-sm-3">
                                <nop-select asp-for="StateProvinceId1" asp-items="@Model.AvailableStateProvinces1" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card card-default">
                    <div class="card-header">
                        @T("Plugins.Widgets.Location.Picture2")
                    </div>
                    <div class="card-body">
                        <div class="form-group row">
                            <div class="col-md-3">
                                <nop-override-store-checkbox asp-for="Picture2Id_OverrideForStore" asp-input="Picture2Id" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                <nop-label asp-for="Picture2Id" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="Picture2Id" />
                                <span asp-validation-for="Picture2Id"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <nop-override-store-checkbox asp-for="Text2_OverrideForStore" asp-input="Text2" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                <nop-label asp-for="Text2" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="Text2" />
                                <span asp-validation-for="Text2"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <nop-override-store-checkbox asp-for="AltText2_OverrideForStore" asp-input="AltText2" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                <nop-label asp-for="AltText2" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="AltText2" />
                                <span asp-validation-for="AltText2"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <nop-override-store-checkbox asp-for="Link2_OverrideForStore" asp-input="Link2" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                <nop-label asp-for="Link2" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="Link2" />
                                <span asp-validation-for="Link2"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <nop-override-store-checkbox asp-for="StateProvinceId2_OverrideForStore" asp-input="StateProvinceId2" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                <nop-label asp-for="StateProvinceId2" />
                            </div>
                            <div class="col-sm-3">
                                <nop-select asp-for="StateProvinceId2" asp-items="@Model.AvailableStateProvinces2" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card card-default">
                    <div class="card-header">
                        @T("Plugins.Widgets.Location.Picture3")
                    </div>
                    <div class="card-body">
                        <div class="form-group row">
                            <div class="col-md-3">
                                <nop-override-store-checkbox asp-for="Picture3Id_OverrideForStore" asp-input="Picture3Id" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                <nop-label asp-for="Picture3Id" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="Picture3Id" />
                                <span asp-validation-for="Picture3Id"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <nop-override-store-checkbox asp-for="Text3_OverrideForStore" asp-input="Text3" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                <nop-label asp-for="Text3" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="Text3" />
                                <span asp-validation-for="Text3"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <nop-override-store-checkbox asp-for="AltText3_OverrideForStore" asp-input="AltText3" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                <nop-label asp-for="AltText3" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="AltText3" />
                                <span asp-validation-for="AltText3"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <nop-override-store-checkbox asp-for="Link3_OverrideForStore" asp-input="Link3" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                <nop-label asp-for="Link3" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="Link3" />
                                <span asp-validation-for="Link3"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <nop-override-store-checkbox asp-for="StateProvinceId3_OverrideForStore" asp-input="StateProvinceId3" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                <nop-label asp-for="StateProvinceId3" />
                            </div>
                            <div class="col-sm-3">
                                <nop-select asp-for="StateProvinceId3" asp-items="@Model.AvailableStateProvinces3" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card card-default">
                    <div class="card-header">
                        @T("Plugins.Widgets.Location.Picture4")
                    </div>
                    <div class="card-body">
                        <div class="form-group row">
                            <div class="col-md-3">
                                <nop-override-store-checkbox asp-for="Picture4Id_OverrideForStore" asp-input="Picture4Id" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                <nop-label asp-for="Picture4Id" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="Picture4Id" />
                                <span asp-validation-for="Picture4Id"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <nop-override-store-checkbox asp-for="Text4_OverrideForStore" asp-input="Text4" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                <nop-label asp-for="Text4" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="Text4" />
                                <span asp-validation-for="Text4"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <nop-override-store-checkbox asp-for="AltText4_OverrideForStore" asp-input="AltText4" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                <nop-label asp-for="AltText4" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="AltText4" />
                                <span asp-validation-for="AltText4"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <nop-override-store-checkbox asp-for="Link4_OverrideForStore" asp-input="Link4" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                <nop-label asp-for="Link4" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="Link4" />
                                <span asp-validation-for="Link4"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <nop-override-store-checkbox asp-for="StateProvinceId4_OverrideForStore" asp-input="StateProvinceId4" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                <nop-label asp-for="StateProvinceId4" />
                            </div>
                            <div class="col-sm-3">
                                <nop-select asp-for="StateProvinceId4" asp-items="@Model.AvailableStateProvinces4" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card card-default">
                    <div class="card-header">
                        @T("Plugins.Widgets.Location.Picture5")
                    </div>
                    <div class="card-body">
                        <div class="form-group row">
                            <div class="col-md-3">
                                <nop-override-store-checkbox asp-for="Picture5Id_OverrideForStore" asp-input="Picture5Id" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                <nop-label asp-for="Picture5Id" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="Picture5Id" />
                                <span asp-validation-for="Picture5Id"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <nop-override-store-checkbox asp-for="Text5_OverrideForStore" asp-input="Text5" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                <nop-label asp-for="Text5" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="Text5" />
                                <span asp-validation-for="Text5"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <nop-override-store-checkbox asp-for="AltText5_OverrideForStore" asp-input="AltText5" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                <nop-label asp-for="AltText5" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="AltText5" />
                                <span asp-validation-for="AltText5"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <nop-override-store-checkbox asp-for="Link5_OverrideForStore" asp-input="Link5" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                <nop-label asp-for="Link5" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="Link5" />
                                <span asp-validation-for="Link5"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <nop-override-store-checkbox asp-for="StateProvinceId5_OverrideForStore" asp-input="StateProvinceId5" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                <nop-label asp-for="StateProvinceId5" />
                            </div>
                            <div class="col-sm-3">
                                <nop-select asp-for="StateProvinceId5" asp-items="@Model.AvailableStateProvinces5" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card card-default">
                    <div class="card-header">
                        @T("Plugins.Widgets.Location.Picture6")
                    </div>
                    <div class="card-body">
                        <div class="form-group row">
                            <div class="col-md-3">
                                <nop-override-store-checkbox asp-for="Picture6Id_OverrideForStore" asp-input="Picture6Id" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                <nop-label asp-for="Picture6Id" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="Picture6Id" />
                                <span asp-validation-for="Picture6Id"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <nop-override-store-checkbox asp-for="Text6_OverrideForStore" asp-input="Text6" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                <nop-label asp-for="Text6" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="Text6" />
                                <span asp-validation-for="Text6"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <nop-override-store-checkbox asp-for="AltText6_OverrideForStore" asp-input="AltText6" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                <nop-label asp-for="AltText6" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="AltText6" />
                                <span asp-validation-for="AltText6"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <nop-override-store-checkbox asp-for="Link6_OverrideForStore" asp-input="Link6" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                <nop-label asp-for="Link6" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="Link6" />
                                <span asp-validation-for="Link6"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <nop-override-store-checkbox asp-for="StateProvinceId6_OverrideForStore" asp-input="StateProvinceId6" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                <nop-label asp-for="StateProvinceId6" />
                            </div>
                            <div class="col-sm-3">
                                <nop-select asp-for="StateProvinceId6" asp-items="@Model.AvailableStateProvinces6" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card card-default">
                    <div class="card-header">
                        @T("Plugins.Widgets.Location.Picture7")
                    </div>
                    <div class="card-body">
                        <div class="form-group row">
                            <div class="col-md-3">
                                <nop-override-store-checkbox asp-for="Picture7Id_OverrideForStore" asp-input="Picture7Id" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                <nop-label asp-for="Picture7Id" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="Picture7Id" />
                                <span asp-validation-for="Picture7Id"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <nop-override-store-checkbox asp-for="Text7_OverrideForStore" asp-input="Text7" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                <nop-label asp-for="Text7" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="Text7" />
                                <span asp-validation-for="Text7"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <nop-override-store-checkbox asp-for="AltText7_OverrideForStore" asp-input="AltText7" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                <nop-label asp-for="AltText7" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="AltText7" />
                                <span asp-validation-for="AltText7"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <nop-override-store-checkbox asp-for="Link7_OverrideForStore" asp-input="Link7" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                <nop-label asp-for="Link7" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="Link7" />
                                <span asp-validation-for="Link7"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <nop-override-store-checkbox asp-for="StateProvinceId7_OverrideForStore" asp-input="StateProvinceId7" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                <nop-label asp-for="StateProvinceId7" />
                            </div>
                            <div class="col-sm-3">
                                <nop-select asp-for="StateProvinceId7" asp-items="@Model.AvailableStateProvinces7" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card card-default">
                    <div class="card-header">
                        @T("Plugins.Widgets.Location.Picture8")
                    </div>
                    <div class="card-body">
                        <div class="form-group row">
                            <div class="col-md-3">
                                <nop-override-store-checkbox asp-for="Picture8Id_OverrideForStore" asp-input="Picture8Id" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                <nop-label asp-for="Picture8Id" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="Picture8Id" />
                                <span asp-validation-for="Picture8Id"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <nop-override-store-checkbox asp-for="Text8_OverrideForStore" asp-input="Text8" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                <nop-label asp-for="Text8" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="Text8" />
                                <span asp-validation-for="Text8"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <nop-override-store-checkbox asp-for="AltText8_OverrideForStore" asp-input="AltText8" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                <nop-label asp-for="AltText8" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="AltText8" />
                                <span asp-validation-for="AltText8"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <nop-override-store-checkbox asp-for="Link8_OverrideForStore" asp-input="Link8" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                <nop-label asp-for="Link8" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="Link8" />
                                <span asp-validation-for="Link8"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <nop-override-store-checkbox asp-for="StateProvinceId8_OverrideForStore" asp-input="StateProvinceId8" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                <nop-label asp-for="StateProvinceId8" />
                            </div>
                            <div class="col-sm-3">
                                <nop-select asp-for="StateProvinceId8" asp-items="@Model.AvailableStateProvinces8" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card card-default">
                    <div class="card-header">
                        @T("Plugins.Widgets.Location.Picture9")
                    </div>
                    <div class="card-body">
                        <div class="form-group row">
                            <div class="col-md-3">
                                <nop-override-store-checkbox asp-for="Picture9Id_OverrideForStore" asp-input="Picture9Id" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                <nop-label asp-for="Picture9Id" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="Picture9Id" />
                                <span asp-validation-for="Picture9Id"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <nop-override-store-checkbox asp-for="Text9_OverrideForStore" asp-input="Text9" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                <nop-label asp-for="Text9" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="Text9" />
                                <span asp-validation-for="Text9"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <nop-override-store-checkbox asp-for="AltText9_OverrideForStore" asp-input="AltText9" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                <nop-label asp-for="AltText9" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="AltText9" />
                                <span asp-validation-for="AltText9"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <nop-override-store-checkbox asp-for="Link9_OverrideForStore" asp-input="Link9" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                <nop-label asp-for="Link9" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="Link9" />
                                <span asp-validation-for="Link9"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <nop-override-store-checkbox asp-for="StateProvinceId9_OverrideForStore" asp-input="StateProvinceId9" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                <nop-label asp-for="StateProvinceId9" />
                            </div>
                            <div class="col-sm-3">
                                <nop-select asp-for="StateProvinceId9" asp-items="@Model.AvailableStateProvinces9" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card card-default">
                    <div class="card-header">
                        @T("Plugins.Widgets.Location.Picture10")
                    </div>
                    <div class="card-body">
                        <div class="form-group row">
                            <div class="col-md-3">
                                <nop-override-store-checkbox asp-for="Picture10Id_OverrideForStore" asp-input="Picture10Id" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                <nop-label asp-for="Picture10Id" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="Picture10Id" />
                                <span asp-validation-for="Picture10Id"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <nop-override-store-checkbox asp-for="Text10_OverrideForStore" asp-input="Text10" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                <nop-label asp-for="Text10" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="Text10" />
                                <span asp-validation-for="Text10"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <nop-override-store-checkbox asp-for="AltText10_OverrideForStore" asp-input="AltText10" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                <nop-label asp-for="AltText10" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="AltText10" />
                                <span asp-validation-for="AltText10"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <nop-override-store-checkbox asp-for="Link10_OverrideForStore" asp-input="Link10" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                <nop-label asp-for="Link10" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="Link10" />
                                <span asp-validation-for="Link10"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <nop-override-store-checkbox asp-for="StateProvinceId10_OverrideForStore" asp-input="StateProvinceId10" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                <nop-label asp-for="StateProvinceId10" />
                            </div>
                            <div class="col-sm-3">
                                <nop-select asp-for="StateProvinceId10" asp-items="@Model.AvailableStateProvinces10" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card card-default">
                    <div class="card-body">
                        <div class="form-group row">
                            <div class="col-md-9 offset-md-3">
                                <button type="submit" name="save" class="btn btn-primary">@T("Admin.Common.Save")</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</form>